<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="<%- title %>" />
    <meta property="twitter:title" content="<%- title %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="description" content="<%= description %>">
    <meta property="og:description" content="<%= description %>" />
    <meta property="twitter:description" content="<%= description %>" />
    <meta name="twitter:site" content="@NFTHOOK_XYZ" />
    <meta name="twitter:creator" content="@NFTHOOK_XYZ" />
    <meta property="og:image" content="https://s2.loli.net/2024/06/06/XB1L35WjcHNqdrR.jpg" />
    <meta property="twitter:image" content="https://s2.loli.net/2024/06/06/XB1L35WjcHNqdrR.jpg" />
    <title><%= title %></title>
  </head>
  <body class="barlow-light light">
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
